
<!-- <input type="text" [(ngModel)] = "Colour" class="form-control mt-5" [style.background]="Colour"> -->
<div class="row mx-5 mt-5">
    <div class="form-group">
        <div class="col-12 col-md-12">
            <button class="btn btn-danger btn-sm" (click)="deleteSelectedRecord()"
                [disabled]="updateIndex > -1 ? true : false"><i class="fa fa-trash"> Delete
                    Selected Rec</i></button>
        </div>
    </div>
</div>

<div class="row mx-5 mt-5">
    <div class="col-12 col-md-12">
        <form [formGroup]="this._mK.custForm">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th *ngFor="let h of lstHeader">{{h | titlecase}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of lstUser; let i=index">
                            <ng-container *ngIf="updateIndex != i; else elseTemplate">
                                <td><input type="checkbox" [checked]="user?.isSelect"
                                        (change)="getSelectval($event.target.checked, i)"></td>
                                <td>{{ user?.fname | titlecase}}</td>
                                <td>{{ user?.lname | titlecase}}</td>
                                <td>{{ user?.mono }}</td>
                                <td>{{user?.email}}</td>

                                <td> <button type="button" class="btn btn-info btn-sm mx-2" (click)="editRecord(i)"
                                        [disabled]="updateIndex > -1 ? true : false"><i
                                            class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger btn-sm" (click)="deleteRecord(i)"
                                        [disabled]="updateIndex > -1 ? true : false"><i
                                            class="fa fa-trash"></i></button>
                                </td>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <td><input type="checkbox" *ngIf="updateIndex != i"></td>
                                <td> <input type="text" class="form-control" formControlName="fname"
                                        [(ngModel)]="user.fname">
                                    <span class="text-danger"
                                        *ngIf="this._mK.custForm.get('fname').hasError('required') && this._mK.custForm.get('fname').touched">
                                        This Fiels is required
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="this._mK.custForm.get('fname').hasError('pattern') && this._mK.custForm.get('fname').touched">
                                        Enter Minmimum 2 charecter
                                    </span></td>

                                <td> <input type="text" class="form-control" formControlName="lname"
                                        [(ngModel)]="user.lname">
                                    <span class="text-danger"
                                        *ngIf="this._mK.custForm.get('lname').hasError('required') && this._mK.custForm.get('lname').touched">
                                        This Fiels is required
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="this._mK.custForm.get('lname').hasError('pattern') && this._mK.custForm.get('lname').touched">
                                        Enter Minmimum 2 charecter, Digit not allowed
                                    </span></td>

                                <td><input type="text" class="form-control" formControlName="mono"
                                        [(ngModel)]="user.mono">
                                    <span class="text-danger"
                                        *ngIf="this._mK.custForm.get('mono').hasError('required') && this._mK.custForm.get('mono').touched">This
                                        field is required</span>
                                    <span class="text-danger"
                                        *ngIf="this._mK.custForm.get('mono').hasError('pattern') && this._mK.custForm.get('mono').touched">Enter
                                        Valid Mobile number max 10 </span>
                                </td>
                                <td> <input type="text" formControlName="email" [(ngModel)]=user.email class="form-control">
                                    <span class="tect-danger"
                                        *ngIf="this._mK.custForm.get('email').hasError('required') && this._mK.custForm.get('email').touched">This
                                        field is required</span>
                                    <span class="text-danger"
                                        *ngIf="this._mK.custForm.get('email').hasError('pattern') && this._mK.custForm.get('email').touched">Enter
                                        Valid Email Address </span>
                                </td>

                                <td> <button class="btn btn-primary fa fa-save " (click)="saveChanges(i)"></button>
                                    <button type="button" class="btn btn-dark fa fa-remove mx-1"
                                        (click)="cancelEdit(i)"></button>
                                </td>
                            </ng-template>

                        </tr>

                        <tr *ngIf="lstUser?.length == 0">
                            <td colspan="12">
                                No Record found
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>